<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="Pagesize" value="8"/>
  <add key="MaxPage" value="5"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="truongviethoang30111996@gmail.com"/>
  <add key="FromEmailPassword" value="zxc123"/>
  <add key="FromName" value="XuanHoang"/>
  <add key="AdminEmail" value="xuannguyen71320@gmail.com"/>
</appSettings>